body{
   background-color: lightblue;
   flex-wrap: wrap
}

h1 {
  color: white;
  text-align: center;
}
.song-box {
            background-color: #689bc4;
            border: 2px solid #d4d4d4;
            border-radius: 8px;
            margin: 10px;
            padding: 20px;
            width: 200px;
            text-align: center;
            display: inline-block;
        }

        .song-title {
            font-size: 16px;
            font-weight: bold;
            color: #333333;
            margin-bottom: 10px;
        }

        .song-number {
            font-size: 14px;
            color: #555555;
        }
